<div style="width: 700px; margin: auto;">

  <h1>Microposts#index</h1>

  <% if user_signed_in? %>
    <%= form_for @micropost do |f| %>
      <%= f.text_area :content %><br/>
      <%= f.submit %>
    <% end %>
    <hr />
  <% end %>

  <% @microposts.each do |micropost| %>
    <i><%= micropost.user.name %> wrote:</i>
    <div>
    <%= micropost.content %>
    </div>
    <hr/>
  <% end %>

</div>